http:
  routers:
    api-swagger-router:
      rule: "PathPrefix(`/api/swagger`)"
      service: api-service
      priority: 110
    api-router:
      rule: "PathPrefix(`/api`)"
      service: api-service
      priority: 100
    web-router:
      rule: "PathPrefix(`/`)"
      service: web-service
      priority: 1
  services:
    api-service:
      loadBalancer:
        servers:
          - url: "http://localhost:8080"
    web-service:
      loadBalancer:
        servers:
          # nginx in web container listens on port 80
          - url: "http://localhost:8090"
