http:
  routers:
    thumbnails-router:
      rule: "PathPrefix(`/thumbnails`)"
      service: minio-thumbnails-service
      priority: 120
      middlewares:
        - thumbnails-strip-prefix
    api-swagger-router:
      rule: "PathPrefix(`/api/swagger`)"
      service: api-service
      priority: 110
    hubs-router:
      rule: "PathPrefix(`/hubs`)"
      service: api-service
      priority: 105
    api-router:
      rule: "PathPrefix(`/api`)"
      service: api-service
      priority: 100
    web-router:
      rule: "PathPrefix(`/`)"
      service: web-service
      priority: 1
  middlewares:
    thumbnails-strip-prefix:
      stripPrefix:
        prefixes:
          - "/thumbnails"
  services:
    minio-thumbnails-service:
      loadBalancer:
        servers:
          - url: "http://localhost:9000/thumbnails"
    api-service:
      loadBalancer:
        servers:
          - url: "http://localhost:5080"
    web-service:
      loadBalancer:
        servers:
          # nginx in web container listens on port 80
          - url: "http://localhost:8090"
