/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$photos-index-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$photos-index-accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);
$photos-index-warn: mat.m2-define-palette(mat.$m2-red-palette);

$photos-index-theme: mat.m2-define-light-theme((
  color: (
    primary: $photos-index-primary,
    accent: $photos-index-accent,
    warn: $photos-index-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($photos-index-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
